fastapi
uvicorn
celery
redis
qdrant-client
langchain
langchain-text-splitters
langchain-huggingface
sentence-transformers
langchain-google-genai
pdfplumber
pypdf
docx2txt
pytest
httpx
python-multipart
python-dotenv
tenacity
streamlit
requests
